*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    background-color: rgb(192, 192, 192);
}
body {
    width: 520px;
    margin: auto;
    background-color: white;
}
.greet {
    padding: 5px;
    color: blue;
    font-weight: bold;
}
.greet + h2 {
    margin-left: 5px;
    color: lightgreen;
}
.section_1 {
    width: fit-content;
    margin: auto;
}
.lContent {
    width: 260px;
    margin: auto;
    display: grid;
    margin-left: 5px;
    gap: 8px;
}
.textBody span {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: small;
}
.entry {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.enter, .learn {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.enter {
    background-color: rgb(82, 82, 255);
    color: white;
    border: 1px solid blue;
    padding-left: 13px;
    padding-right: 13px;
}
.learnAnchor {
    text-decoration: none;
}
.learn {
    background-color: white;
    color: rgb(82, 82, 255);
    border: 1px solid rgb(82, 82, 255);
    padding: 7px;
    padding-left: 11px;
    padding-right: 11px;
}
.learn:hover {
    background-color: rgb(82, 82, 255);
    color: white;
}
.enter:hover {
    background-color: white;
    color: rgb(82, 82, 255);
}
.robo {
    margin: 3px;
    width: fit-content;
}
.robo img {
    width: 250px;
    margin: -18px;
}
/* section 2 styling */
.section_2 img {
    width: 70px;
}
.hiwS {
    text-align: center;
}
.s2Header {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.s2Text {
    width: 120px;
    margin: auto;
}
.innerH {
    font-weight: bolder;
    margin-bottom: 5px;
}
.s2Text .innerH + div {
    font-size: small;
}
.s2Grid {
    display: grid;
    margin: auto;
    grid-template-areas: 
    "s2one"
    "s2two"
    "s2three";
}
.s2Grid .hiwS:nth-child(1) {
    grid-area: s2one;
}
.s2Grid .hiwS:nth-child(2) {
    grid-area: s2two;
}
.s2Grid .hiwS:nth-child(3) {
    grid-area: s2three;
}
/* section 3 styling */
.s3Grid {
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
    display: grid;
    grid-template-areas: 
    "s3one"
    "s3two"
    "s3three"
    "s3four";
}
.fS .innerH {
    border: 0.8px solid gray;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 5px;
}
.s3Grid .fS:nth-child(1) {
    grid-area: s3one;
}
.s3Grid .fS:nth-child(2) {
    grid-area: s3two;
}
.s3Grid .fS:nth-child(3) {
    grid-area: s3three;
}
.s3Grid .fS:nth-child(4) {
    grid-area: s3four;
}
/* footer styling */
footer {
    background-color: rgb(82, 82, 255);
    height: 100%;
    margin-top: 50px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
footer img {
    width: 40px;
}
footer a div {
    display: flex;
    align-items: center;
    color: white;
    font-size: small;
    border: 1px dashed white;
    border-radius: 5px;
    width: fit-content;
    padding-right: 10px;
    transition: 0.3s;
}
footer a {
    text-decoration: none;
}
footer div:hover {
    background-color: lightgreen;
    color: black;
}
.sponsor {
    display: flex;
    background-color: rgb(82, 82, 255);
    align-items: center;
    justify-content: center;
    font-size: smaller;
    color: white;
}
.sponsor img {
    width: 35px;
}
.sponsor + div {
    font-size: smaller;
    color: white;
    text-align: center;
    background-color: rgb(82, 82, 255);
    padding-bottom: 10px;
}

@media(min-width: 450px) {
    .section_1 {
        display: flex;
        gap: 10px;
    }
    .s2Grid {
        grid-template-areas: 
        "s2one s2two s2three";
    }
    .s3Grid {
        grid-template-areas: 
        "s3one s3three"
        "s3two s3four";
        margin: auto;
    }
}
/* main page styling */
.agentMain {
    padding: 10px;
}
.chatCont {
    outline: 1px solid lightgray;
    height: fit-content;
}
.chatCont .chatHeader {
    background-color: rgb(82, 82, 255);
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatCont .chatHeader div {
    font-size: smaller;
    padding: 3px;
    font-weight: bold;
    color: rgba(28, 28, 247, 0.452);
    background-color: white;
}
.chatCont .chatHeader + div {
    outline: 1px solid green;
    margin: 5px;
    border-radius: 5px;
    height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.roboText img {
    width: 40px;
    height: 40px;
}
.roboText {
    display: flex;
}
.roboText .textArea {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid lightblue;
    font-size: small;
}
.chatArea {
    width: 80%;
}
.userText {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 0.5px solid blue;
    font-size: small;
    background-color: lightblue;
    margin-left: auto;
}
.userArea {
    padding: 2px;
    width: 80%;
    margin-left: auto;
}
#querry {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}
#querry input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(82, 82, 255);
}
#querry button {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: small;
    border-radius: 10px;
    border: 1px solid rgba(0, 128, 0, 0.651);
    background-color: rgba(0, 128, 0, 0.603);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
#querry button:hover {
    background-color: green;
}
.suggest {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
}
.suggest div {
    width: fit-content;
    padding: 10px;
    margin: 3px;
    outline: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.suggest div:hover {
    background-color: lightblue;
}