<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta property="og: title" content="Crpto Agent">
        <meta property="og: description" content="Do all your crpto researches with just a click">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <script src="{{ url_for('static', filename='js.js') }}"></script>
        <title>Crpto Agent</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>